#about
  %h2 about

  %h3 profile
  %dl
    %dt name
    %dd Tatsuro Baba

    %dt from
    %dd Tokyo, Japan

    %dt gender
    %dd male

    %dt age
    %dd 23

    %dt work
    %dd web application programmer

    %dt language
    %dd Japanese(main), English

  %h3 skills
  %dl
    %dt Ruby
    %dd 1.5 years

    %dt Ruby on Rails
    %dd 1.5 years

    %dt JavaScript (jQuery)
    %dd 1 years

    %dt= "HTML & CSS"
    %dd please see codes of this page

    %dt Database
    %dd MySQL, PostgreSQL

    %dt VCS
    %dd Git only

    %dt OS
    %dd Mac OS X for Development, Ubuntu for Server
