- @articles.each do |article|
  %article
    %h2.title= article.title
    .body= simple_format article.body
    .tags
      - article.tag_list.each do |tag|
        = tag
    .created= article.created_at
